* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100% - 240px;
  display: flex;
  gap: 810px;
  margin-top: 30px;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 30px;
}

.navbar-div {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.navbar-div-h3 {
  width: 42px;
  flex-shrink: 0;
  color: #000;
  font-family: Libre Franklin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.illustration {
  width: 100% - 240px;
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.illustration img {
  width: 721px;
  height: 474px;
}

.illustration-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.illustration-text-h5 {
  width: 90px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.illustration-text-h2 {
  width: 429px;
  color: #000;
  font-family: Tenor Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
}

.illustration-text-p {
  width: 419px;
  color: #666;
  font-family: Source Serif Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.illustration-text-h3 {
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* blogs */
.blogs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.blogs-blog {
  display: flex;
  width: 406.656px;
  padding: 25.5px 9.656px 49px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19.234px;
}

.blogs-blog img {
  width: 387px;
  height: 254px;
}

.blogs-blog-h5 {
  width: 93px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blogs-blog-h2 {
  width: 347px;
  color: #000;
  font-family: Tenor Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.blogs-blog-h3 {
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blog-chiziq {
  width: 1200px;
  height: 1px;
  flex-shrink: 0;
  background: #e6e6e6;
  margin-bottom: 50px;
}

.latest-posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.latest-posts-h1 {
  width: 93px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.latest-posts-blogs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.latest-posts-blogs-blog {
  width: 305px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.latest-posts-blogs-blog img {
  width: 285px;
  height: 187px;
}

.latest-posts-blogs-blog-h5 {
  width: 90px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.latest-posts-blogs-blog-h2 {
  width: 276px;
  color: #000;
  font-family: Tenor Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.latest-posts-blogs-blog-h3 {
  width: 108px;
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.latest-posts-button {
  width: 205px;
  height: 54px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #fff;
  margin-top: 90px;
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.feturedp {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 70px;
}

.feturedp-h1 {
  width: 108px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 170px;
}

.feturedp-blogs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.feturedp-blogs-blog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feturedp-blogs-blog img {
  width: 590px;
  height: 387px;
}

.feturedp-blogs-blog-h5 {
  width: 103px;
  color: #999;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.feturedp-blogs-blog-h2 {
  width: 522px;
  color: #000;
  font-family: Tenor Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.feturedp-blogs-blog-h3 {
  color: #000;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 717px;
  flex-shrink: 0;
  background: #141414;
  justify-content: center;
  padding-top: 150px;
}

.footer-main {
  display: flex;
  width: 1200px;
  height: 437px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 59.594px;
  flex-shrink: 0;
}

.footer-main-first {
  width: 1200px;
  height: 22px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 50px;
}

.footer-main-first-h1 {
  color: #fff;
}

.footer-main-first-h5 {
  width: 275px;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 18px;
}

.blog-chiziql {
  width: 1200px;
  height: 1px;
  flex-shrink: 0;
  background: #e6e6e6;
}

.blog-chiziq-second {
  display: flex;
  flex-direction: row;
}

.blog-chiziq-h2 {
  width: 77px;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-main-second-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  flex-shrink: 0;
  gap: 90px;
}

.footer-main-second-h4 {
  color: #fff;
  font-family: Libre Franklin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.blog-chiziq-btn {
  display: flex;
  width: 300px;
  height: 110px;
  padding-bottom: 0px;
  flex-direction: row;
  align-items: flex-start;
  gap: 20.406px;
  flex-shrink: 0;
}

.blog-chiziq-btn input {
  width: 221px;
  height: 48px;
  flex-shrink: 0;
  border: 1px solid #ccc;
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #fff;
  padding: 18px 23px;
}

.blog-chiziq-btn button {
  width: 79px;
  height: 48px;
  flex-shrink: 0;
  background: #000;
  color: #fff;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
}

.blog-chiziq-second-h1 {
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blog-chiziq-third {
  display: flex;
  flex-direction: row;
  gap: 138px;
}

.blog-chiziq-third-blog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-chiziq-third-blog-h1 {
  color: #666;
  font-family: Libre Franklin;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blog-chiziq-third-blog-h2 {
  color: #fff;
  font-family: Libre Franklin;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Telefon uchun */
@media screen and (max-width: 447px) {
  .navbar {
    width: 100%;
    display: flex;
    gap: 50px;
    margin-top: 30px;
    justify-content: center;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
    margin-left: 150px;
  }

  .navbar-div {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .navbar-div-h3 {
    width: 42px;
    color: #000;
    font-family: Libre Franklin;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
  }

  .illustration {
    width: 100% - 240px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .illustration img {
    width: 721px;
    height: 474px;
  }

  .illustration-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .illustration-text-h5 {
    color: #999;
    font-family: Libre Franklin;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .illustration-text-h2 {
    width: 429px;
    color: #000;
    font-family: Tenor Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
  }
}
